
html {
    height: 100%;
    body {
        height: 100%;
        #root {
            height: 100%;
        }
        #main {
            height: 100%;
            min-height: 100%;
        }
    }
}

.clearfix { zoom: 1; }
.clearfix:before,
.clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }

* {
    :focus { outline: none !important; }
    // background
    // -------------------------
    

    // text
    // -------------------------

    .text-green {
        color: @green;
    }

    .text-red {
        color: @red;
    }

    .text-blue {
        color: @light-blue;
    }

    .text-yellow {
        color: @yellow;
    }

    .text-muted {
        color: @muted-text;
    }

    .text-drama {
        color: @drama-color;
    }

    .bg-drama {
        background-color: @drama-color;
    }

    .text-super-muted {
        color: lighten(@muted-text, 10%);
    }

    .text-nowrap {
        white-space: nowrap;
    }

    .text-no {
        text-decoration: line-through;
        text-decoration-color: red;
    }
    
    .no-radius {
        .border-radius(0);
    }
    // ADDITION
    // ----------------------

    #toast-container {
        z-index: 1000000;
    }

    .required-asterisk {
        &:after {
            content: '*';
            color: @red;
            line-height: 0;
            font-size: 1.5em;
            display: inline-block;
        }
    }

    .oh { overflow: hidden; }
    .ov { overflow: visible; }

    .align-middle {
        vertical-align: middle;
        &>*{ vertical-align: middle; }
        &>.align-bottom { vertical-align: bottom; }
        &:after {
            content: '';
            height: 100%;
            display: inline-block;
            position: relative;
            vertical-align: middle;
        }
    }

    .border- {
        @radius: 3px;
        .radius ( @name, @r ) {
            &@{name} {
                .border-radius( @r );
                &>*:first-child { .border-radius( @r 0 0 0 ); }
                &>*:last-child { .border-radius( 0 0 0 @r ); }
            }
        }
        // .border-radius-low
        .radius( radius-low, @radius );
        // .border-radius-midle
        .radius( radius-midle, @radius*2 );
        // .border-radius-huge
        .radius( radius-huge, @radius*3 );
    }
    
    .transition {
        .transition();
    }
    
    .no-selection {
        .user-select ( none );
    }

    .no-events {
        pointer-events: none;
    }

    // simple interaction helper to highlight active tag
    .interactive {
        cursor: pointer;
        .user-select ( none );
        pointer-events: all !important;
        &.dark {
            .inner-shadow(0 0 6px rgba(0, 0, 0, 0.2) );
            &:hover, &:active, &:focus, &.active {
                .inner-shadow(0 0 12px rgba(0, 0, 0, 0.4));
            }
            &:disabled, &.disabled {
                cursor: no-drop;
                pointer-events: none;
                .inner-shadow(0 0 36px rgba(0, 0, 0, 0.8));
            }
        }
        .inner-shadow(0 0 6px rgba(255, 255, 255, 0.2) );
        &:hover, &:active, &:focus, &.active {
            .inner-shadow(0 0 12px rgba(255, 255, 255, 0.4) );
        }
        &:disabled, &.disabled {
            cursor: no-drop;
            pointer-events: none;
            .inner-shadow(0 0 36px rgba(255, 255, 255, 0.8));
        }
    }
    // hide form controls but provide ability to delegate form control events
    .hidden-control {
        border: 0;
        height: 0;
        width: 1px;
        padding: 0;
        line-height: 0;
        display: block;
        position: relative;
    }

    // ability to rotate items
    // .rotate-45
    .rotate-helper ( @deg ) { .rotate-@{deg} { .rotate(@deg+0deg); } }
    .rotate-helper(45);
    .rotate-helper(90);
    .rotate-helper(135);
    .rotate-helper(180);
    .rotate-helper(225);
    .rotate-helper(270);
    .rotate-helper(315);
}

