.centered-box {
    width: 100%;
    height: 100%;
    text-align: center;

    &:after {
        content: '';
        height: 100%;
        position: relative;
        display: inline-block;
        vertical-align: middle;
    }

    .box-holder {
        min-width: 15%;
        text-align: left;
        position: relative;
        display: inline-block;
        vertical-align: middle;
    }

}