.custom-checkbox {
    @point: 20px;
    margin: 0;
    padding: 0;
    vertical-align: middle;
    * { cursor: pointer; }
    label:first-child {
        margin: 0;
        padding: 0;
    }
    &-hover:hover input[type="checkbox"] {
        box-shadow: inset 0 0 4px @light-blue;
    }
    input[type="checkbox"] {
        margin: 0;
        padding: 0;
        position: relative;
        width: @point;
        height: @point;
        border-radius: 3px;
        .transition(200ms);
        border: double 2px @grey;
        -webkit-appearance: button;
        background-color: transparent;
        &:after {
            height: @point * 0.6;
            width: @point * 0.4;
            margin: 0 0 0 4px;
            display: inline-block;

            content: '';
            .opacity(0);
            .rotate(40deg);
            .transition(200ms);
            border-style: solid;
            border-top-width: 0;
            border-left-width: 0;
            border-bottom-width: 3px;
            border-right-width: 3px;
            border-color: lighten(@red, 10%);
        }
        &:checked {
            background-color: @light-blue;
            border-color: @light-blue;
            &:after { .opacity(1); }
        }
    }
}
