.custom-html-wrapper {

    @option-height: 30px;
    @active-color: lighten(@red, 20%);
    @border-color: lighten(@grey, 10%);
    .custom-html-toolbar {
        background-color: lighten(@blue, 20%);

        margin-bottom: 0;
        border-color: @border-color;
        border-radius: 6px 6px 0 0;

        // custom styles
        .rdw-option-wrapper {
            border: 0;
            .user-select ( none );
            height: @option-height;
            .inner-shadow(0 0 6px rgba(0, 0, 0, 0.2) );
            &:hover, &:active, &:focus, &.rdw-option-active {
                .inner-shadow(0 0 12px rgba(0, 0, 0, 0.4));
                &.rdw-option-active {
                    background-color: @active-color;
                }
            }
            &:disabled, &.rdw-option-disabled {
                cursor: no-drop;
                .inner-shadow(0 0 36px rgba(0, 0, 0, 0.8));
            }
        }
        .rdw-dropdown-wrapper {
            height: @option-height;
            .rdw-dropdown-selectedtext {

            }
        }
    }

    .custom-html-editor {
        padding: 6px 8px;
        border: 1px solid @border-color;
        //background-color: lighten(@grey, 30%);
        border-radius: 0 0 6px 6px;
        @shadow: inset 0 1px 3px rgba(0, 0, 0, .05), 0 1px 0 rgba(255, 255, 255, .1);
        .inner-shadow( @shadow );
        // gradient
        background-image: -webkit-linear-gradient(top, #e8e8e8 0%, #f5f5f5 100%);
        background-image: -o-linear-gradient(top, #e8e8e8 0%, #f5f5f5 100%);
        background-image: -webkit-gradient(linear, left top, left bottom, from(#e8e8e8), to(#f5f5f5));
        background-image: linear-gradient(to bottom, #e8e8e8 0%, #f5f5f5 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffe8e8e8', endColorstr='#fff5f5f5', GradientType=0);
        background-repeat: repeat-x;
    }
    &.light-bg {
        .custom-html-editor {
            background: @white;
        }
    }
}
