.image-block {

    width: 100%;
    overflow: hidden;
    position: relative;
    white-space: nowrap;
    .box-shadow();
    //box-shadow: 0px 0px 10px rgba(0,0,0,.4);

    // NOTE image should be first child - otherwise it will hide other texts
    img {
        width: 100%;
        height: auto;
        vertical-align: top;
    }

    .text {
        display: inline-block;
        white-space: normal;
        width: 100%;
        position: relative;
        margin: 0;
        &.text-top { vertical-align: top; }
        &.text-bottom { vertical-align: bottom; }
        &:nth-child(2) { left: -100%; }
        &:nth-child(3) { left: -200%; }
    }

}
