// GRID
@desktop-hd-point-x:1444px;
@desktop-hd-point:  1200px;
@desktop-point:     992px;
@tablet-point:      766px; // not 768
@mobile-point:      480px;
@mobile-point-x:    320px;


// FONTS
@font-family-sans-serif:  'Roboto Condensed', Roboto, Helvetica, Arial, sans-serif;
@font-family-serif:       Georgia, "Times New Roman", Times, serif;
@font-family-monospace:   Menlo, Monaco, Consolas, "Courier New", monospace;

@font-weight-black:  800;
@font-weight-bold:   600;
@font-weight-regular:500;
@font-weight-book:   400;
@font-weight-light:  300;
@font-weight-thin:   200;

@font-size-h1:       56px;
@font-size-h2:       36px;
@font-size-h3:       16px; //20// 28
@font-size-h4:       14px; // 18
@font-size-h5:       12px; // 16
@font-size-h6:       11px; // 15
@font-size-h7:       10px; // 13
@font-size-h8:       8px;

@font-size-regular:  14px;
@font-size-light:    12px;

// COLORS
@black:             #000000;
@grey:              #98A2AD;
@white:             #FFFFFF;

// COLORS
@red:               #EC1B24;
@pink:              #FF3057;
@blue:              #2196f3;
@bluish:            #E9F6FC;
@yellow:            #FFAC29;
@purple:            #9c27b0;
@green:             #70B871;
@green-aqua:        #4DBFA3;
@dark-green-aqua:   #19BBA2;
@orange:            #E7927A;
@light-blue:        #00B3E4;
@blue-green:        #7BBDA2;
@lighten-purple:    #702277;
@dark-purple:       #7A3DCE;
@brown:             #292929;
@dark-grey:         #343F4B;
// TEXT 
@base-bg:           #E5E5E5;
@base-text:         @black;
@inverse-text:      @white;
@muted-text:        @grey;
@palliated-text:    #969696;

//
@drama-color:       #6C74AE;
@drama-light-grey:  #D8D8D8;
@drama-grey:        #C4C4C4;
@drama-dark-grey:   #959595;
@drama-light-black: #4A4A4A;

// OFFSETS // padding: @vertical-offset @horizontal-offset;
@vertical-offset: 7px;
@horizontal-offset: 12px;

// FIXED height
@static-header-height: 60px;
